# Exploratory Data Analysis

In [1]:
# Libraries importing
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/PAKDD2010_Modeling_Data.txt',
                   header=None,
                   delimiter='\t',
                   # on_bad_lines='warn',
                   encoding='ISO-8859-1',
                   index_col=0
                   )

/tmp/ipykernel_1157/2386812577.py:1: DtypeWarning: Columns (51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/PAKDD2010_Modeling_Data.txt',

In [3]:
data

,1,2,3,4,5,6,7,8,9,10,...,44,45,46,47,48,49,50,51,52,53
0,,,,,,,,,,,,,,,,,,,,,
1,C,5,Web,0,1,F,6,1,0,RN,...,0,0,0,0,1,N,32,595,595,1
2,C,15,Carga,0,1,F,2,0,0,RJ,...,0,0,0,0,1,N,34,230,230,1
3,C,5,Web,0,1,F,2,0,0,RN,...,0,0,0,0,1,N,27,591,591,0
4,C,20,Web,0,1,F,2,0,0,PE,...,0,0,0,0,1,N,61,545,545,0
5,C,10,Web,0,1,M,2,0,0,RJ,...,0,0,0,0,1,N,48,235,235,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,C,10,0,0,1,F,1,2,0,RN,...,0,0,0,0,1,N,36,591,591,1
49997,C,25,0,0,1,F,1,0,0,SP,...,0,0,0,0,2,N,21,186,186,0
49998,C,5,Web,0,1,M,2,3,0,PR,...,0,0,0,0,1,N,41,715,715,0
49999,C,1,Web,0,1,F,1,1,0,SP,...,0,0,0,0,1,N,28,320,320,1
50000,C,10,Web,0,1,F,2,2,0,SP,...,0,0,0,0,1,N,27,124,124,0