# Exploratory Data Analysis Part 1: Data Selection

In [16]:
# Libraries importing
import pandas as pd

In [17]:
# Get training data from .txt file
data = pd.read_csv('../data/PAKDD2010_Modeling_Data.txt',
                   header=None,
                   delimiter='\t',
                   encoding='ISO-8859-1',
                   index_col=0
                   )

/tmp/ipykernel_735/1835940254.py:2: DtypeWarning: Columns (51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/PAKDD2010_Modeling_Data.txt',

In [18]:
# Get name and description of data columns
var_names = pd.read_excel('../data/PAKDD2010_VariablesList.XLS')

In [19]:
# Analyze if there are duplicated variable names
var_names['Var_Title'].duplicated().value_counts()

False    53
True      1
Name: Var_Title, dtype: int64

In [20]:
# As there are un variable with the same name that other, let's rename the
# second.
cols = []
for column in var_names['Var_Title'][1:]:     # Isolate ID_CLIENT because it is
                                              # used as dataframe index
    if column in cols:
        count = cols.count(column) + 1
        cols.append(f'{column}_{count}')
    else:
        cols.append(column)

In [21]:
# Set Var_Title as Columns names for or training dataset
data.columns = cols

In [22]:
data.shape[0]

50000

In [23]:
# Count Null values per column
data.isna().sum()

CLERK_TYPE                            0
PAYMENT_DAY                           0
APPLICATION_SUBMISSION_TYPE           0
QUANT_ADDITIONAL_CARDS                0
POSTAL_ADDRESS_TYPE                   0
SEX                                   0
MARITAL_STATUS                        0
QUANT_DEPENDANTS                      0
EDUCATION_LEVEL                       0
STATE_OF_BIRTH                        0
CITY_OF_BIRTH                         0
NACIONALITY                           0
RESIDENCIAL_STATE                     0
RESIDENCIAL_CITY                      0
RESIDENCIAL_BOROUGH                   0
FLAG_RESIDENCIAL_PHONE                0
RESIDENCIAL_PHONE_AREA_CODE           0
RESIDENCE_TYPE                     1349
MONTHS_IN_RESIDENCE                3777
FLAG_MOBILE_PHONE                     0
FLAG_EMAIL                            0
PERSONAL_MONTHLY_INCOME               0
OTHER_INCOMES                         0
FLAG_VISA                             0
FLAG_MASTERCARD                       0
FLAG_DINERS                           0
FLAG_AMERICAN_EXPRESS                 0
FLAG_OTHER_CARDS                      0
QUANT_BANKING_ACCOUNTS                0
QUANT_SPECIAL_BANKING_ACCOUNTS        0
PERSONAL_ASSETS_VALUE                 0
QUANT_CARS                            0
COMPANY                               0
PROFESSIONAL_STATE                    0
PROFESSIONAL_CITY                 33783
PROFESSIONAL_BOROUGH              33783
FLAG_PROFESSIONAL_PHONE               0
PROFESSIONAL_PHONE_AREA_CODE          0
MONTHS_IN_THE_JOB                     0
PROFESSION_CODE                    7756
OCCUPATION_TYPE                    7313
MATE_PROFESSION_CODE              28884
EDUCATION_LEVEL_2                 32338
FLAG_HOME_ADDRESS_DOCUMENT            0
FLAG_RG                               0
FLAG_CPF                              0
FLAG_INCOME_PROOF                     0
PRODUCT                               0
FLAG_ACSP_RECORD                      0
AGE                                   0
RESIDENCIAL_ZIP_3                     0
PROFESSIONAL_ZIP_3                    0
TARGET_LABEL_BAD=1                    0
dtype: int64

In [24]:
# Let's drop columns with sum of NaN values greater than the half of the total
# number of samples
cols_to_drop = list(data.isna().sum()[
    data.isna().sum() > data.shape[0]//2].index)
cols_to_drop

['PROFESSIONAL_CITY',
 'PROFESSIONAL_BOROUGH',
 'MATE_PROFESSION_CODE',
 'EDUCATION_LEVEL_2']

In [25]:
# Append columns with just one unique value to dols_to drop as they don't add
# value to the analysis
for col in data.columns:
    if len(data[col].unique()) == 1:
        if col not in cols_to_drop:
            cols_to_drop.append(col)

In [29]:
print('The columns to drop before correlation analysis are', cols_to_drop)

The columns to drop before correlation analysis are ['PROFESSIONAL_CITY', 'PROFESSIONAL_BOROUGH', 'MATE_PROFESSION_CODE', 'EDUCATION_LEVEL_2', 'CLERK_TYPE', 'QUANT_ADDITIONAL_CARDS', 'EDUCATION_LEVEL', 'FLAG_MOBILE_PHONE', 'FLAG_HOME_ADDRESS_DOCUMENT', 'FLAG_RG', 'FLAG_CPF', 'FLAG_INCOME_PROOF', 'FLAG_ACSP_RECORD']

In [30]:
# Drop columns with non-relevant information
X_train = data.drop(columns=cols_to_drop)
X_train

,PAYMENT_DAY,APPLICATION_SUBMISSION_TYPE,POSTAL_ADDRESS_TYPE,SEX,MARITAL_STATUS,QUANT_DEPENDANTS,STATE_OF_BIRTH,CITY_OF_BIRTH,NACIONALITY,RESIDENCIAL_STATE,...,FLAG_PROFESSIONAL_PHONE,PROFESSIONAL_PHONE_AREA_CODE,MONTHS_IN_THE_JOB,PROFESSION_CODE,OCCUPATION_TYPE,PRODUCT,AGE,RESIDENCIAL_ZIP_3,PROFESSIONAL_ZIP_3,TARGET_LABEL_BAD=1
0,,,,,,,,,,,,,,,,,,,,,
1,5,Web,1,F,6,1,RN,Assu,1,RN,...,N,,0,9.0,4.0,1,32,595,595,1
2,15,Carga,1,F,2,0,RJ,rio de janeiro,1,RJ,...,N,,0,11.0,4.0,1,34,230,230,1
3,5,Web,1,F,2,0,RN,GARANHUNS,1,RN,...,N,,0,11.0,NaN,1,27,591,591,0
4,20,Web,1,F,2,0,PE,CABO,1,PE,...,N,,0,NaN,NaN,1,61,545,545,0
5,10,Web,1,M,2,0,RJ,RIO DE JANEIRO,1,RJ,...,N,,0,9.0,5.0,1,48,235,235,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,10,0,1,F,1,2,RN,NATAL,1,RN,...,N,,0,9.0,4.0,1,36,591,591,1
49997,25,0,1,F,1,0,SP,LENCOIS PAULISTA,1,SP,...,N,,0,NaN,NaN,2,21,186,186,0
49998,5,Web,1,M,2,3,PR,RIO BONITO,1,SP,...,Y,5,0,9.0,2.0,1,41,715,715,0
49999,1,Web,1,F,1,1,SP,SAO PAULO,1,MG,...,Y,29,0,9.0,2.0,1,28,320,320,1
50000,10,Web,1,F,2,2,SP,PINDABA,1,SP,...,Y,9,0,9.0,2.0,1,27,124,124,0

In [31]:
# Save data to csv
X_train.to_csv("X_train.csv")

Let's move onto the Correlation_Analysis Notebook to continue the preprocessing of the data.